.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    padding: 10px 0;
  }
  
  .loader {
    display: flex;
    max-width: fit-content;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .loader-icon {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }